html, body{
    height: 100%;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    background-color: red;
}
*, *:before, *:after{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    box-sizing: inherit;
}
main{
    height: calc(100% - 75px);
    width: 100%;
    display: flex;
}

#player{
    height: 75px;
    width: 100%;
    background-color: gray;
}

/* INSIDE MAIN */
nav{
    height: 100%;
    width: 20%;
    min-width: 225px;
    max-width: 400px;
    background-color: rgb(50, 50, 50);
}
#logo{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 10px;
}
#nav-content{
    height: calc(100% - 64px);
    overflow-y: auto;
    padding: 15px;
}
.nav-content-button{
    background-color: rgba(25, 25, 25, 0.5);
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
#library-nav-content{
    margin: 15px 10px 5px;
}
.library-nav-content-item{
    margin: 5px;
    font-size: 18px;
    text-align: left;
    
}
#right-window{
    height: 100%;
    width: 80%;
}

/* INSIDE RIGHT WINDOW */
header{
    height: 64px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
header ul li{
    display: inline;
    padding: 5px;
    font-size: 30px;
}
#search-li{
    width: 40%;
}
#search-bar{
    width: 100%;
    max-width: 400px;
    font-size: 30px;
    border-radius: 10px;
}

#content-window{
    padding-bottom: 64px;
    max-height: calc(100% - 64px);
    max-width: 100%;
    background-color: rgb(25, 25, 25);
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content-window-category{
    width: 90%;
    height: 200px;
    flex-shrink: 0;
    background-color: grey;
    margin: 64px 0 0 0;
    border-radius: 20px;
}