:root{
    --header-height: 64px;
    --player-height: 75px;
    --nav-width: 20%;
    --nav-min-width: 225px;
    --nav-max-width: 400px;
    --content-window-item-background-color: rgba(0, 0, 0, 0.5);
    --content-window-category-item-cover-side: 180px;
    --playlist-description-cover-image-side: 240px;
    --sub-label-color: rgba(255, 255, 255, 0.5);
    --control-button-bg-color: rgba(255, 255, 255, 0.2);
    --panels-bg-color: rgba(0, 0, 0, 0.75);
    --panels-box-shadow-color: black;
    --panels-box-shadow: 0 0 5px 5px var(--panels-box-shadow-color);
    --overlay-box-shadow: 0 0 2px 2px var(--panels-box-shadow-color);
    --hover-box-shadow-color: rgba(0, 0, 0, 0.5);
    --floating-panels-bg-color: rgba(0, 0, 0, 0.90);
    --playlist-page-bg-color: var(--panels-bg-color);
    /* --transition-properties: all 0.3s; */
    --transition-properties: none;
}

/* SCROLLBAR CUSTOMIZATION */
::-webkit-scrollbar {
	width: 7px;
    height: 7px;
    border-radius: 4px;

}
::-webkit-scrollbar-thumb {
	width: 7px;
    height: 7px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.5);
}

html, body{
    height: 100%;
    width: 100%;
    min-width: 900px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    position: relative;
}
*, *:before, *:after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: inherit;
	transition: var(--transition-properties);
}

/* TAGS */
p{
    display: inline-block;
    margin: 0;
    padding: 0;
}
a{
    color: white;
}
input[type='range']{
    cursor: pointer;
    border-radius: 0.5rem;
}
input:focus-visible{
    outline: 3px solid white;
}
input[type='range']:focus-visible{
    outline-offset: 0.25rem;
}
button{
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
}
button:focus-visible{
    outline: 3px solid white;
}


/* WALLPAPER */
.body-wallpaper-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}
.body-wallpaper-overlay{
    height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
    left: 0;
	z-index: -50;
	overflow-y: auto;
}



/* INSIDE BODY */
nav{
    height: calc(100% - var(--player-height));
    width: var(--nav-width);
    min-width: var(--nav-min-width);
    max-width: var(--nav-max-width);
    background-color: var(--panels-bg-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#nav-logo-container{
    height: calc(1rem + var(--header-height));
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    padding-top: 1rem;
}
#logo-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courgette', cursive;
    font-size: 2.4rem;
    cursor: pointer;
}
#logo-wrapper img{
    height: 64px;
    padding: 0 3px;
}
#nav-content{
    height: calc(100% - 1rem - var(--header-height));
    overflow-y: auto;
    padding: 0.8rem;
}
.nav-button-container{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.75rem;
    margin: 0.75rem;
    padding: 0.75rem 1rem;
    text-align: left;
    cursor: pointer;
}
.nav-button-icon-wrapper{
    display: inline-block;
    width: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
}
.nav-button-container-label{
    font-weight: 500;
}
#nav-content-library-tab-items{
    margin: 20px 0px 5px;
}
.nav-content-library-tab-item{
    margin: 12px 5px 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.8rem;
    text-align: left;
    display: block;
}

#right-window{
    height: calc(100% - var(--player-height));
    width: calc(100% - var(--nav-width));
    min-width: calc(100% - var(--nav-max-width));
    max-width: calc(100% - var(--nav-min-width));
    position: fixed;
    top: 0;
    right: 0;
    bottom: var(--player-height);
}


/* INSIDE RIGHT WINDOW */
header{
    height: var(--header-height);
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: var(--panels-bg-color);
    box-shadow: var(--panels-box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 4%;
}
#header-left-empty-part{
    height: 100%;
    width: 10%;
}
#search-bar-wrapper{
    width: 55%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#search-bar{
    width: 80%;
    color: white;
    font-size: 0.8rem;
    padding: 6px calc(10% + 1.5rem) 5px 0.75rem;
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
}
#search-bar-icon{
    position: absolute;
    font-size: 0.8rem;
    right: calc(10% + 1rem);
    color: white;
}
#header-right-part{
    font-size: 1.2rem;
    width: 25%;
    margin: 0 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-right-part-button{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0.9rem;
}
.header-right-part-button:hover{
    box-shadow: 0 0 10px 10px var(--control-button-bg-color) inset;
}
.profile-dropdown-overlay{
    position: absolute;
    top: var(--header-height);
    right: 0;
    width: 120px;
    background-color: var(--panels-bg-color);
    box-shadow: var(--overlay-box-shadow);
    padding: 7px;
    border-radius: 10px 0 10px 10px;
    font-weight: 300;
    font-size: 0.8rem;
}
.profile-dropdown-overlay ul li{
    padding: 10px 5px;
    list-style: none;
    width: 100%;
}
.profile-dropdown-overlay ul li:hover{
    background-color: var(--control-button-bg-color);
    border-radius: 0.5rem;
}

/* RIGHT CONTENT WINDOW */
#content-window{
    position: absolute;
    top: var(--header-height);
    right: 0;
    bottom: var(--player-height);
    height: calc(100% - var(--header-height));
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

/* GENERAL CONTENT WINDOW STYLES */
.content-window-category{
    width: 90%;
    flex-shrink: 0;
    /* background-color: var(--content-window-item-background-color); */
    background-color: var(--panels-bg-color);
    margin: 1.25rem 0 0;
    border-radius: 1rem;
    padding: 1rem 1rem 0;
}
.content-window-category:first-child{
    margin-top: 2rem;
}
.content-window-category:last-child{
    margin-bottom: 2rem;
}
.content-window-category-label{
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.content-window-category-items-wrapper{
    display: flex;
    overflow: auto;
    padding: 0 0 0 10px;
}
.content-window-category-item{
    width: var(--content-window-category-item-cover-side);
    margin: 1rem 1rem 0 0;
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    position: relative;
}
.content-window-category-item-cover{
    position: relative;
}
.content-window-category-item-cover-image{
    height: var(--content-window-category-item-cover-side);
    width: var(--content-window-category-item-cover-side);
    object-fit: cover;
    border-radius: 0.25rem;
}
.content-window-category-item-cover-image-overlay{
    height: calc(100% - 5px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 0 50px 50px var(--hover-box-shadow-color) inset;
    cursor: pointer;
    opacity: 0;
}
.content-window-category-item-cover-image-overlay:hover{
    opacity: 1;
}
.content-window-category-item-cover-image-overlay-icon-wrapper{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    margin: 15px;
    padding-left: 2px;
    box-shadow: 0 0 10px 10px var(--hover-box-shadow-color) inset, 0 0 10px 5px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-window-category-item-labels{
    padding: 10px 5px;
    position: relative;
    height: max-content;
    overflow: hidden;
    font-weight: 500;
}
.content-window-category-item-mainlabel{
    font-size: 0.85rem;
    width: 100%;
    margin-bottom: 5px;
}
.content-window-category-item-sublabel{
    font-size: 0.75rem;
    color: var(--sub-label-color);
}

/* PLAYLIST PAGE */

/* playlist description */
#playlist-description{
    width: calc(100% - 4rem);
    background-color: var(--playlist-page-bg-color);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
}
#playlist-description-cover{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
#playlist-description-cover-image{
    height: var(--playlist-description-cover-image-side);
    width: var(--playlist-description-cover-image-side);
    object-fit: cover;
    border-radius: 0.25rem;
}
#playlist-description-info-and-options{
    width: 100%;
    width: calc(100% - var(--playlist-description-cover-image-side) - 2rem);
}
#playlist-description-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
}
#playlist-description-info > * {
    margin-bottom: 0.5rem;
}
#playlist-info-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
#playlist-info-artists{
    color: var(--sub-label-color);
}
#playlist-info-count-and-duration{
    color: var(--sub-label-color);
}
#playlist-description-options{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
}
.playlist-description-option-button{
    height: 1.8rem;
    max-width: fit-content;
    display: block;
    border: 1px solid white;
    border-radius: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    padding: 0.4rem 0.75rem 0.4rem 0.9rem;
    font-size: 0.8rem;
}
.playlist-description-option-button:hover{
    box-shadow: 0 0 10px 7px var(--control-button-bg-color) inset;
}
.playlist-description-option-icon{
    margin-right: 0.2rem;
}

/* playlist contents */
#playlist-contents{
    width: calc(100% - 4rem);
    background-color: var(--playlist-page-bg-color);
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


/* MAIN PLAYER */
#player{
    height: var(--player-height);
    width: 100%;
    background-color: var(--panels-bg-color);
    box-shadow: var(--panels-box-shadow);
    padding: 5px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}

/* player left part */
#player-left-part{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#player-song-info{
    margin-left: 1rem;
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#player-song-artist{
    font-size: 0.75rem;
    color: var(--sub-label-color);
}
#player-left-part-like-button-container{
    margin-left: 10%;
}

/* player middle part */
#player-middle-part{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}
#player-middle-part-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#player-middle-part-controls{
    margin: 0 auto 5px;
    width: 70%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#play-pause-button-container{
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1.1rem;
}
#player-seek-bar{
    width: 90%;
    flex-grow: 1;
    margin: auto;
}
#player-middle-part-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
#player-middle-part-timestamp{
    font-size: 0.75rem;
    color: var(--sub-label-color);
    position: relative;
    top: 4px;
}

/* player right part */
#player-right-part{
    height: 100%;
    width: 25%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* player general styles */
.player-control-button{
    padding: 0 10px;
    transition: var(--transition-properties);
    position: relative;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.player-control-button:hover{
    box-shadow: 0 0 10px 7px var(--control-button-bg-color) inset;
}

/* player floating part */
#player-floating-part{
    position: absolute;
    right: 1.5rem;
    bottom: 0.7rem;
    height: calc(100% - var(--header-height) - 3.1rem);
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    z-index: 5;
}
.player-floating-part-item-overlay{
    height: 100%;
    width: 24%;
    min-width: 300px;
    max-width: 350px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 0.5rem;
    box-shadow: var(--overlay-box-shadow);
    background-color: var(--floating-panels-bg-color);
}
.player-floating-part-item-overlay:first-child{
    margin-right: 0.75rem;
}

/* EXTENDED PLAYER */
.player-extended-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: calc(100% - var(--header-height));
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: var(--panels-bg-color);
    box-shadow: var(--panels-box-shadow);
}


/* GENERAL STYLE CLASSES */
.rotate-180{
    transform: rotate(180deg);
}

.shrunk-overlay{
    height: 0;
    width: 0;
    min-width: 0;
    max-width: 0;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    overflow: hidden;
}

.hidden-element{
    visibility: hidden;
    opacity: 0;
}

.inactive-button{
    opacity: 0.5;
}

.black-background{
    background-color: black;
}