/* EXTENDED PLAYER */
.player-extended-overlay{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  height: calc(100% - var(--header-height));
  width: 100%;
  background-color: var(--panels-bg-color);
  box-shadow: var(--panels-box-shadow);
  padding: 0.75rem 0.5rem 1rem;
  display: flex;
  color: white;
}
.player-extended-overlay-part{
  height: 100%;
  display: inline-block;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  box-shadow: var(--overlay-box-shadow);
  font-size: 0.8rem;
  overflow: hidden;
  padding: 0 0.5rem;
}
.player-extended-overlay-part:not(:last-child){
  margin-right: 0.5rem;
}
.player-extended-overlay-part-label{
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 0;
  font-weight: 500;
}

/* extended player queue */
#player-extended-queue{
  width: 30%;
}
#player-extended-queue-content-wrapper .queue-overlay-content-item{
  padding: 0.45rem;
}
#player-extended-queue-content-wrapper .queue-content-item-cover-column{
  min-width: var(--player-extended-queue-content-item-cover-side);
}
.queue-content-item-name-and-artists-column{
  padding: 0 0.5rem;
}
#player-extended-queue-content-wrapper .queue-content-item-name-row{
  font-size: 0.88rem;
  margin-bottom: 0.12rem;
}
#player-extended-queue-content-wrapper .queue-content-item-artists-row{
  font-size: 0.77rem;
}
#player-extended-queue-content-wrapper .queue-content-item-duration-column{
  font-size: 0.77rem;
}

/* floating queue overlay content item cover image */
#player-extended-queue-content-wrapper .queue-content-item-cover-image{
  height: var(--player-extended-queue-content-item-cover-side);
  width: var(--player-extended-queue-content-item-cover-side);
}
#player-extended-queue-content-wrapper .content-item-cover-overlay-icon-wrapper{
  height: var(--player-extended-queue-content-item-cover-side);
  width: var(--player-extended-queue-content-item-cover-side);
}


#player-extended-cover{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#player-extended-cover-image{
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.25rem;
}
#player-extended-lyrics{
  width: 30%;
}
#player-extended-lyrics-content-wrapper{
  font-weight: 300;
  /* padding: 0.5rem; */
  color: var(--sub-label-color);
  line-height: 1.2rem;
}


.queue-lyrics-content-wrapper{
  width: 100%;
  height: calc(100% - 2.5rem);
  overflow-y: auto;
  margin-top: 0.25rem;
}
.lyrics-content-wrapper{
  font-weight: 300;
  padding: 0.5rem;
  color: var(--sub-label-color);
}
