/* FLOATING NOTIFICATION */
#floating-notifications-wrapper{
  position: fixed;
  bottom: calc(var(--player-height) + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 17rem;
  max-height: 9rem;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.floating-notification{
  position: relative;
  bottom: 0;
  width: calc(100% - 2rem);
  height: 2.5rem;
  flex-shrink: 0;
  background-color: black;
  box-shadow: 0 0 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem 0.55rem 1rem;
  margin: 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 0.8rem;
  color: white;
  margin-top: 0.5rem;
}
.floating-notification-icon{
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.75rem 0.5rem 0;
}
